Open Window Code


<!DOCTYPE html>
  <html>
  <head>
    <script>
      function OpenWindow(url) {

var myWindow = window.open(url, "New Window", "width=200, height=100");
myWindow.document.write("<p> This is a new window. </p>");
}
    </script>
  <body>
  <div id="mydiv">My First JavaScript code.</div>
  <button type="button" onclick="OpenWindow('contact.html')">Contact me!</button>
  </body>
  </html>
